{% extends 'base.html.twig' %}

{% block title %}Wine App{% endblock %}

{% block body %}

    <header>
        <div>
            <h1>Wine App!</h1>
                <li>
                    {# <ul><a href="/logout">Logout</a></ul> #}
                    <ul><a href="/register">Espace Producteur</a></ul>
                    <ul><a href="/register">Espace consomateur</a></ul>
                    <ul><a href="/login">Déja inscrit ?</a></ul>

                    
                    
                      
                </li>
        </div>
        
    </header>
    
{% endblock %}
