{% extends 'base.html.twig' %}

{% block title %}Wine App
{% endblock %}
{# {% block body %}
	{% block header %}
		<header>
			<ul>
				<li><ahref="{{path('home_page')}}">Home</a></li>
				<li><ahref="{{path('register')}}">Espace consomateur</a></li>
				<li><ahref="{{path('register')}}">Espace Producteur</a></li>
				<li><ahref="{{path('login')}}">Déja inscrit ?</a></li>
			</ul>
		</header>
	{% endblock %}
{% endblock %} #}
