ul{
    display: flex;
    justify-content: space-around;

}
.form-register{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
display: flex;
justify-content: space-around;
margin: 5%;
padding: 5%;
}